body{
    background-color: #080511;
}
#container-form{
    height: 95vh;
    width: 100%;
}
#container-form>form{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#container-form>form input:first-child{
    margin-bottom: 2vh;
    width: 80vw;
    height: 5vh;
    border-radius: 7px;
    font-size: x-large;
    outline: none;
}
#container-form>form button{
    width: 14vw;
    height: 7vh;
    border-radius: 7px;
    font-size: xx-large;
    cursor: pointer;
}